{% extends 'base.html' %}

{% block title %}Bosh Sahifa{% endblock %}

{% block content %}
    <h1>Yangi Mahsulot Qo'shish</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label for="product_name" class="form-label">Mahsulot nomi</label>
                <input type="text" class="form-control" id="product_name" name="product_name" required>
            </div>
            <div class="mb-3">
                <label for="productDescription" class="form-label">Mahsulot tavsifi</label>
                <textarea class="form-control" id="productDescription" rows="3" name="product_description" required></textarea>
            </div>
            <div class="mb-3">
                <label for="productPrice" class="form-label">Narxi</label>
                <input type="number" class="form-control" id="productPrice" name="price" required>
            </div>
            <div class="mb-3">
                <label for="productImage" class="form-label">Mahsulot rasmi</label>
                <input type="file" class="form-control" id="productImage" accept="image/*" name="product_image" required>
            </div>
            <div class="mb-3">
                <label for="productCategory" class="form-label">Kategoriya</label>
                <select class="form-select" id="productCategory" name="product_category" required>
                    <option value="">Kategoriyani tanlang</option>
                    <option value="1">Elektronika</option>
                    <option value="2">Kiyim-kechak</option>
                    <option value="3">Oziq-ovqat</option>
                    <option value="4">Uy-ro'zg'or buyumlari</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Mahsulotni qo'shish</button>
        </form>
{% endblock %}
